<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">Home</a>
      </div>

      <div class="navbar-center hidden sm:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a class="active" href="/about">About</a></li>
          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100 rounded-t-none">
                <li><a href="/lego/sets?theme=technic">Technic</a></li>
                <li><a href="/lego/sets?theme=Basic Set">Basic Set</a></li>
                <li><a href="/lego/sets?theme=Books">Books</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>

    <br />

    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md2">
            <h1 class="text-5xl font-bold">About</h1>

            <p class="py-6">
              Everything you want to know about me - the designer &amp;
              developer.
            </p>
          </div>
        </div>
      </div>

      <br />

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <img
            class="w-full rounded-lg"
            src="https://th.wallhaven.cc/lg/l8/l8vp7y.jpg"
            alt="profile"
          />
        </div>

        <div class="about-me">
          <p>
            My name is Donghua Feng and I'm currently studying at Seneca
            Polytechnic.
          </p>
          <p>
            When I'm not immersed in the world of coding and technology, I can
            engaging in the high-paced action of video games, enjoying the
            outdoors on a bike ride, or playing the basketball court for some
            hoops. Balancing my active lifestyle, I'm currently enriching my
            knowledge through an exciting academic journey. My current courses
            include:
          </p>
          <ul>
            <li>WEB322 - Web Development</li>
            <li>OOP345 - Object-Oriented Programming</li>
            <li>DBS311 - Database Management</li>
            <li>SYD366 - System Analysis and Design</li>
            <li>
              Plus a general education course to broaden my perspectives - NAT
            </li>
          </ul>
          <p>
            Each course offers unique challenges and insights, contributing to
            my holistic view of the software development landscape. Whether on
            the field or in front of a screen, I'm all about pushing boundaries
            and taking on new challenges.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
